<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find robot)/yaml/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <!--- Run AMCL -->
  <!---include file="$(find amcl)/examples/amcl_diff.launch" for differential drive robot-->

  <node pkg="global_planner" type="planner" respawn="false" name="planner" output="screen" />
  <node pkg="costmap_2d" type="costmap_2d_node" respawn="false" name="costmap_2d_node" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/rviz/config.rviz"/>

</launch>
