<launch>
  <master auto="start"/>
  <!-- Run the map server -->
  <arg name="map_file" default="$(find robot)/yaml/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="global_planner" type="planner" respawn="false" name="planner" output="screen" >
    <remap from="/planner/goal" to="/GOAL"/>
    <remap from="/planner/planner/plan" to="/PLAN"/>
  </node>

  <node pkg="costmap_2d" type="costmap_2d_node" respawn="false" name="costmap_2d_node" >
    <remap from="/costmap_2d_node/costmap/costmap" to="/COSTMAP"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/rviz/config.rviz">
    <remap from="/move_base_simple/goal" to="/GOAL"/>
  </node>

</launch>
