<launch>
  <!-- Publish static tf -->
  <node pkg="robot" type="sim_robot_setup.py" name="sim_robot_setup"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot)/yaml/map.yaml" />

  <include file="$(find robot)/launch/move_base.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/rviz/config.rviz"/>

</launch>
